{% extends 'base.html' %}

{% block title %}
Lista de Estudiantes
{% endblock %}

{% block content %}
<form action="/", method="post">
    <label> Nombre del proyecto: </label>
    <input type="text" name="nombre" value=""><br>
    <label> Palabra de interés: </label>
    <input  type="text" name="mainPalabra" value=""><br>
    <label> Imagen: </label>
    <input type="text" name="imagen" value=""> (Opcional)<br>
    <label> Tags: </label>
    <input type="text" name="tags" value=""> (Opcional) <br>
    <input type="submit" value="Submit">
</form>
<hr>
{% for proyecto in proyectos %}

    <div class="proyecto">
        <p>{{ proyecto['nombre'] }} <i>({{ proyecto['mainPalabra'] }})</i> <i>({{ proyecto['tags'] }})</i> <i>({{ proyecto['imagen'] }})</i> <i>({{ proyecto['twitter'] }})</i></p>
    </div>
{% else %}
    <h4 style="text-align: center">Proyectos no encontrados</h4>
{% endfor %}
{% endblock %}